.searchBar {
  background: #ffffff;
  border: 1px solid rgba(195, 212, 233, 0.4);
  padding-left: 4em;
  border-radius: 70px;
  width: 30.75rem;
  height: 2.75rem;
  position: absolute;
}
// .searchIcon {
//   position: relative;
//   padding-left: 20px;
//   width: 1.5rem;
//   height: 1.5rem;
// }
.search{
  position: absolute;
  width: 1.5em;
  z-index: 1;
  padding: 10px 0 0 5px;
}
.filter{
  position: absolute;
  width: 5.5em;
  z-index: 1;
  padding-left: 20px;
}

