.main {
  width: 34.1666vw;
  height: 35.2777vw;
  background-color: white;
  border-radius: 10px;
  padding: 1.666vw;
  margin-top: 2.222vw;
  @media screen and (min-width: 240px) and (max-width: 767px) {
    margin-top: 8.53vw;
    padding: 4.2666vw;
    width: 87.2vw;
    height: 84.8vw;
    margin: 8.533vw 6.4vw 0 6.4vw;
  }
}
.top {
  font-style: normal;
  font-weight: 700;
  font-size: 2.22vw;
  line-height: 150%;
  color: #1a202c;
  letter-spacing: -0.03em;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.222vw;
  @media screen and (min-width: 240px) and (max-width: 767px) {
    font-style: normal;
    font-weight: 700;
    font-size: 5.33vw;
    line-height: 150%;
    letter-spacing: -0.03em;
    padding-bottom: 1.6vw;
    /* Secondary/500 */

    color: #1a202c;
  }
}
.review {
  display: flex;
  align-items: center;
  @media screen and (min-width: 240px) and (max-width: 767px) {
    padding-bottom: 4.266vw;
  }
}
.reviewText {
  letter-spacing: -0.02em;
  color: #596780;
  font-style: normal;
  font-weight: 500;
  line-height: 128.57%;
  font-size: 0.972222vw;
  padding-left: 0.55555555vw;
  @media screen and (min-width: 240px) and (max-width: 767px) {
    padding: 0;
    font-weight: 500;
    font-size: 3.2vw;
    line-height: 125%;
    letter-spacing: -0.02em;
    padding-left: 2.133vw;
  }
}
.description {
  font-weight: 400;
  font-size: 1.38888vw;
  line-height: 200%;
  letter-spacing: -0.02em;
  color: #596780;
  padding-bottom: 2.222vw;
  @media screen and (min-width: 240px) and (max-width: 767px) {
    padding-bottom: 4.266vw;
    font-style: normal;
    font-weight: 400;
    font-size: 3.2vw;
    line-height: 200%;
    letter-spacing: -0.02em;
    color: #90a3bf;
  }
}
.features {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 1.1111vw;
  padding-bottom: 4.722vw;
  justify-content: space-between;
  @media screen and (min-width: 240px) and (max-width: 767px) {
    padding-bottom: 8.533vw;
    row-gap: 4.266vw;
  }
}
.feature {
  width: 13.88vw;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 240px) and (max-width: 767px) {
    width: 33.066vw;
  }
}
.featureName {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3888vw;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #90a3bf;
  @media screen and (min-width: 240px) and (max-width: 767px) {
    font-size: 3.2vw;
    line-height: 125%;
    letter-spacing: -0.02em;
  }
}
.value {
  font-style: normal;
  font-weight: 600;
  font-size: 1.3888vw;
  line-height: 150%;
  align-items: center;
  letter-spacing: -0.02em;
  color: #596780;
  @media screen and (min-width: 240px) and (max-width: 767px) {
    font-size: 3.2vw;
    line-height: 125%;
    letter-spacing: -0.02em;
  }
}
.priceWrap {
  display: flex;
  justify-content: space-between;
}
.price99 {
  font-weight: 700;
  font-size: 1.944vw;
  line-height: 125%;
  color: #1a202c;
  @media screen and (min-width: 240px) and (max-width: 767px) {
    font-size: 5.333vw;
    line-height: 125%;
    padding-bottom: 1.066vw;
  }
}
.perday {
  font-weight: 700;
  font-size: 1.111vw;
  line-height: 125%;
  color: #90a3bf;
  @media screen and (min-width: 240px) and (max-width: 767px) {
    font-size: 3.2vw;
    padding-bottom: 1.066vw;
  }
}
.striked {
  font-weight: 700;
  font-size: 1.111vw;
  line-height: 125%;
  color: #90a3bf;
  text-decoration: line-through;
  @media screen and (min-width: 240px) and (max-width: 767px) {
    font-size: 3.2vw;
  }
}
.rent {
  width: 9.722vw;
  background: #3563e9;
  border-radius: 4px;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 1.111vw;
  line-height: 150%;
  letter-spacing: -0.02em;
  @media screen and (min-width: 240px) and (max-width: 767px) {
    width: 37.33vw;
    height: 14.933vw;
    font-size: 4.266vw;
  }
}
