.formDiv{
    background-color: white;
    border-radius: .625em;
    margin: 0 1.5em;
    // width: 327px;
    @media screen and (min-width:767px) {
        width: 582px;     
        height: 132px;
        padding-bottom: 1px;
    }
}
.title{
    padding: 1em 0 0 1em;
    font-weight: 600;
    @media screen and (min-width:767px) {
        font-size: 1em;
        margin: 0;
        padding: 1.5em 0 0 3em;     
    }
}
.mark{
    margin-right: .5em;
}
.dropdownDiv{
    display: flex;
    padding-bottom: 1em;
    justify-content: space-evenly;
    @media screen and (min-width:767px) {
        width: 486px;
        margin-top: 1em;
        margin-bottom: 1.5em;     
        padding: 0 3em 0 3em;
    }
}