.main {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1em 1em 1.5em 1em;
  border-radius: 0.625em 0.625em 0 0;
  @media screen and (min-width: 767px) {
    width: max(59.1666666666vw,852px);
    padding: 1.5em 2em 1.5em 1.5em;
  }
}
.left {
  display: flex;
  flex-direction: column;
}
.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 150%;
  @media screen and (min-width: 767px) {
    font-weight: 700;
    font-size: max(20px, 1.388888vw);
    line-height: 150%;
  }
}
.action {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 125%;
  color: #90a3bf;
  @media screen and (min-width: 767px) {
    font-weight: 500;
    font-size: max(14px, 0.9722222vw);
    line-height: 150%;
    letter-spacing: -0.02em;
  }
}
.right {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 125%;
  color: #90a3bf;
  @media screen and (min-width: 767px) {
    font-weight: 500;
    font-size: max(14px, 0.9722222vw);
    line-height: 150%;
    letter-spacing: -0.02em;
    margin-top: 1.5em;
  }
}
