.bannerWrap{
    display: flex;
    justify-content: space-evenly;
    justify-items: right;
    padding-top: 1.75rem;
    width: 103rem;
    padding-left: 4rem;
}
.bannerWrap:nth-child(1){
    padding-right: 303px;
}