.specs{
    padding: 0 1.125em;
    @media screen and (min-width:767px) {
        width: 19em;
        height: 1.5em;
        padding-top: 2.3125em;      
    }
}
.greyIcon{
    transform: rotate(-10deg);
    margin-right: .25em;
    vertical-align: middle;
    @media screen and (min-width:767px) {
        width: 1.5em;
        height: 1.5em;
        margin-right: .375em;       
    }
}
.cardGreyText{
    font-size: .75em;
    font-weight: 500;
    color: #90A3BF;
    margin-right: 1em;
    @media screen and (min-width:767px) {
        font-size: .875em;
        line-height: 21px;      
    }
}
.specs :nth-child(6){
    margin: 0;
}
