.mainForm{
    max-width: 36.375rem; 
    border-radius: 0.625rem;
    background-color: white;
    padding: 1.5rem 3rem 1rem 3rem;
    // top: 424px;
}
.formSection{
     padding-left: 0.5rem;
}
.selectContainer{
    display: flex;
    gap: 1.5rem;
}
.selectContainer:nth-child(3){
    gap: 0rem;
}