.main {
  display: flex;
  justify-content: space-between;
}
.name {
  font-style: normal;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 125%;
  color: #90a3bf;
  @media screen and (min-width: 767px) {
    font-weight: 500;
    font-size: 1em;
    line-height: 150%;
  }
}
.price {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  @media screen and (min-width: 767px) {
  }
}
