.card{
    background-color: white;
    width: 15em;
    margin-top: 20px;
    margin-left: 1.75em;
    border-radius: .625em;
    @media screen and (min-width: 19em) {
        width: 19em;
        //height: 24.25em;
    }
}
.car{
    width: 11.25rem;
    height: 5em;
    margin: 2em 1.875em 0 1.875em;
    padding-bottom: 1.25em;
    object-fit: fill;
    height: 30%;
    @media screen and (min-width:767px) {
        width: 12.75em;
        margin-right: 50px;
        margin-left: 50px;
        // margin-left: 16.44%;
        // margin-right: 16.44%;
    }
}
