.main {
  background-color: white;
  padding: 1em;
  width: 20.4375em;
  border-radius: .625em;
  margin: 2em 1.5em;
  @media screen and (min-width: 767px) {
    width: 30.75em;
    height: 32em;
    margin-left: 2em;
  }
}
.total {
  margin-top: 2em;
  @media screen and (min-width: 767px) {
    margin-top: 1em;
  }
}
