.logo{
    color: #3563E9;
    font-size: 1.75rem;
    font-weight: 700;
    padding-right: 4rem;
}
$small:375px;
@media screen and (min-width: $small){
    .logo{
        font-size: 1.5rem;
        padding-left: 0;
    }
}