.main{
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgba(195, 212, 233, 0.4);
}
.top {
  width: 18.4375em;
  margin-bottom: 1.5em;
  @media screen and (min-width: 767px) {
    margin-bottom: 2em;
  }
}
.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 150%;
  @media screen and (min-width: 767px) {
    font-size: 1.25em;
  }
}
.carImage{
    width: 116px;
    @media screen and (min-width: 767px) {
        width: 8.25em;
      }
}
.text {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 160%;
  color: #90a3bf;
  width: 18.4375rem;
  margin-top: 0.25em;
  @media screen and (min-width: 767px) {
    font-size: 0.875em;
    width: 27.75rem;
  }
}
.name {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  @media screen and (min-width: 767px) {
    font-size: 32px;
    line-height: 150%;
  }
}
.stars {
  size: 300px;
  color: #ed3f3f;
  margin: 0 69px;
  vertical-align: middle;
}
.reviewCount {
  color: #90a3bf;
  font-weight: 500;
  font-size: 0.75em;
  @media screen and (min-width: 767px) {
    // padding-top: 7px;
    margin-left: 0.5em;
    font-size: 0.875em;
    color: #596780;
        margin: .4em 0 0 .5em;
  }
}
.other {
  display: flex;
  flex-direction: column;
  padding-top: 0.75em;
  @media screen and (min-width: 767px) {
    display: flex;
    flex-direction: row;
    padding-top: 0.5em;
  }
}
.carDetails {
  margin-left: 1em;
  padding-top: 1.125em;
}
.carSection {
  display: flex;
}
