.hero {
    display: flex;
    padding: 0 4.44444vw 0 0.4375vw;
    margin-top: max(32px, 2.22222vw);
    padding: 0 4.44vw;
    column-gap: max(2.23vw, 33px);
    @media screen and (min-width: 240px) and (max-width: 767px) {
      margin-top: 0;
      padding: 0 max(6.1333333vw,23px) 0 max(6.666666vw,25px);
    }
  }
  .hero :nth-child(2){
    background-color: #3563E9;
  }
  .hero > :nth-child(1) > :nth-child(2){
    background-color: #54A6FF;
  }
  .hero > :nth-child(2) > :nth-child(3){
    background-color: #54A6FF;
  }