.field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 8.75vw;
    height: 3.33vw;
}
.fieldname {
  font-style: normal;
  font-weight: 700;
  font-size: max(16px, 1.11111vw);
  line-height: 150%;
  letter-spacing: -0.02em;
}
.select {
  font-style: normal;
//   height: 1.3888888vw;
  font-weight: 500;
  font-size: max(12px,0.8333333vw);
  line-height: 125%;
  color: #90A3BF;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  // padding-right: 32px;
  @media screen and (min-width:240px) and (max-width:767px) {
    width: 13vw;
    padding-top: 0;
  }
}
