.main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.833vw;
}
.left {
  display: flex;
}
.intro {
  display: flex;
  flex-direction: column;
  row-gap: 0.555vw;
  // margin: 0 4.0625em 0 0.5em;
  padding-left: 1.111vw;
}
.avatar {
  border-radius: 50%;
  width: 3.888vw;
  height: 3.888vw;
}
.name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  @media screen and (min-width: 767px) {
    font-weight: 700;
    font-size: 1.388vw;
    line-height: 150%;
  }
}
.designation {
  color: #90a3bf;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: -0.02em;
  @media screen and (min-width: 767px) {
    font-size: 0.9722vw;
    line-height: 150%;
  }
}
.date {
  color: #90a3bf;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: -0.02em;
  @media screen and (min-width: 767px) {
    font-size: 0.9722vw;
    line-height: 150%;
  }
}
