.bannerWrap{
    background-color: #54A6FF;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    // align-items: center;
    border-radius: 10px;
}
.banner{
    max-width: 17.75rem;
    padding: 1.5rem 0 0 1.5rem;

}
.bannerMainLine{
    font-size: 1.75rem;
    font-weight: 600;
    color: white;
    padding-bottom: 1rem;
}
.bannerText{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding-bottom: 1.25rem;
}
.bannerImage1{
    width: 21.25rem;
    height: 6.75rem;
}
.imageDiv{
    display: flex;
    justify-content: center;
    padding-bottom: 1.25rem;
}