.priceWrap{
    display: flex;
    padding: 0 1em;
    padding-top: 1.75em;
    margin-bottom: 1em;
    @media screen and (min-width:767px) {
        margin-top: 24px;
    }
}
.price99{
    font-weight: 700;
    @media screen and (min-width:767px) {
        font-size: 1.25em;
    }
}
.perday{
    font-weight: 300;
    font-size: .75em;
    margin-right: 1em;
    color: #90A3BF;
    @media screen and (min-width:767px) {
        font-size: .875em;   
    }
}