@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.label{
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: .5em;
}
.select1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    border: none;
    opacity: 0.4;
    font-size: .75em;
    font-weight: 400;
    width: 4.75em;
    color: #90A3BF;
    @media screen and (min-width:767px) {
        width: 7.875em; 
        font-weight: 500;    
        font-size: .75em;
    }
}
.dropdown{
    display: flex;
    flex-direction: column;
    border-left: 1px solid #C3D4E9;
    width: 6em;
    margin-right: .625em;
    padding-left: 1em;
    @media screen and (min-width:767px) {
        margin-right: 24px;
        //margin-right: 3em;
        min-width: 126px;
    }
}
// .select::-ms-expand { color: blue; }
.dropdown:nth-child(1){
    border: none;
}
// .dropdown:nth-child(1){
//     margin-left: 0;
// }