.specs{
    display: flex;
    justify-content: space-between;
}
.greyIcon{
    vertical-align: sub;
    margin-right: max(6px,0.41666666666vw);
    width: min(1.66vw,24px);
    height: min(1.66vw,24px);
    @media screen and (min-width:240px) and (max-width:767px) {
        vertical-align: middle;
        width: max(14px,3.7333333333333333333vw);
        height: max(14px,3.7333333333333333333vh);
    }
    @media screen and (min-width: 767px) and (max-width: 1023px) {
        margin-right: 1px;
      }
      @media screen and (min-width: 1024px) and (max-width: 1260px) {
        margin-right: 6px;
      }
}
.cardGreyText{
    color: #90A3BF;
    line-height: 150%;
    letter-spacing: -0.02em;
    font-weight: 500;
    font-size: max(14px,0.972vw);
    @media screen and (min-width: 767px) and (max-width: 1260px) {
        font-size: 10px;
      }
}