.headerWrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 3.75em;
    padding-right: 1.75em;
    padding-top: 2.5em;
    background-color: white;
    box-sizing: border-box;
    @media screen and (min-width:767px) {
        width: 100%;   
    }
}
.headerWrapperLeft{
    display: flex;
    padding-right: 25.5rem;
    padding-bottom: 2.5em;
}