.main {
  padding: 1em;
  margin: 0em 1.5em;
  background-color: white;
  max-width: 87.2%;
  margin-top: 2em;
  border-radius: .625em;
  //   max-width: 327px;
  @media screen and (min-width: 767px) and (max-width:1600px){
    padding: 1.5em;
    // height: 35.277777777777%;
    width: 492px;
    height: 508px;
  }
  @media screen and (min-width: 1600px){
    padding: 2em;
    width: 100%;
  }
}
.top {
  @media screen and (min-width: 767px) {
    display: flex;
    justify-content: space-between;
  }
}
.Name {
  font-weight: 700;
  font-size: 1.25em;
  line-height: 150%;
  //   @media screen and (min-width:767px) {}
  @media screen and (min-width: 767px) {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
  }
}
.wishList1 {
  color: #ed3f3f;
  width: 1.5em;
  display: none;
  vertical-align: middle;
  @media screen and (min-width: 767px) {
    display: inline;
    width: 1.5em;
    padding-bottom: 10px;
  }
}
.wishList2 {
  color: rgb(143, 141, 141);
  width: 1.5em;
  display: none;
  vertical-align: middle;
  @media screen and (min-width: 767px) {
    display: inline;
    width: 1.5em;
    padding-bottom: 10px;
  }
}
.stars {
  size: 300px;
  color: #ed3f3f;
  margin: 0 69px;
  vertical-align: middle;
}
.secondRow {
  display: flex;
}
.reviewCount {
  color: #90a3bf;
  font-weight: 500;
  font-size: 0.75em;
  margin-left: 0.5em;
  @media screen and (min-width: 767px) {
    padding-top: 7px;
    font-size: 0.875em;
    color: #596780;
  }
}
.description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #90a3bf;
  width: 295px;
  @media screen and (min-width: 767px) and (max-width:1600px) {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    width: 456px;
    color: #596780;
  }
  @media screen and (min-width: 1600px){
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    width: 100%;
    color: #596780;
  }
}
.specsWrap {
  display: flex;
  flex-wrap: wrap;
  width: 295px;
  @media screen and (min-width: 767px) and (max-width: 1600px) {
    width: 444px;
  }
  @media screen and (min-width: 1600px){
    width: 100%;
    justify-content: space-between;
  }
  :nth-child(1) {
    margin-right: 35px;
  }
}
.specsWrap :nth-child(1) {
  margin-bottom: 8px;
}
.specsWrap :nth-child(2) {
  margin-bottom: 8px;
}
.specsWrap :nth-child(3) {
  margin-right: 47px;
}
.priceWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  @media screen and (min-width:767px) and (max-width:1600px) {
    padding-top: 2em;    
  }
  @media screen and (min-width:1600px){
    padding-top: 4em;
  }
}
.price {
  margin-right: 1.5em;
  margin-top: 18px;
  // display: flex;
  // flex-direction: column;
}
.price99 {
  font-weight: 700;
  font-size: 1.25em;
  @media screen and (min-width: 767px) {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
  }
}
.perday {
  font-weight: 300;
  font-size: 0.75em;
  margin-right: 1em;
  color: #90a3bf;
  @media screen and (min-width: 767px) {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #90a3bf;
  }
}
.striked {
  color: #90a3bf;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  text-decoration: line-through;
  @media screen and (min-width: 767px) {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
}
.rent {
  width: 140px;
  height: 56px;
  padding: 0.625em 1em;
  background-color: #3563e9;
  color: white;
  font-size: 1em;
  font-weight: 700;
  line-height: 150%;
  border: none;
  border-radius: 0.25em;
  @media screen and (min-width: 767px) {
    margin-left: 1.5em;
    font-size: 1em;
    padding: 0;
    margin-top: 13px;
  }
}
