/*Mobile SearchBar */

.headerBar{
    display: flex;
    $desktop:1440px;
    @media screen and (min-width: $desktop){
        display: none;
    }
}
.left{
    // position: absolute;
}
.searchBar{
    border-radius: 10px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    // min-width: 16em;
    // width: 266px;
    width: 70vw;
    // width: 263px;
    height: 3em;
    padding-left: 3.5em;
    background-color: #F6F7F9;
}
.search{
    position: absolute;
    width: 1.5rem;
    margin-left: 1.5em;
    margin-top: .5em;
    color: #596780;
    background-color: #F6F7F9;
}
.filter{
    min-width: 3rem;
    max-height: 2.5em;
    color: #596780;
    border: 1px solid rgba(195, 212, 233, 0.4);
    margin-left: 1em;
    border-radius: 10px;
}
.right{
    width: 48px;
    height: 48px;
}

/*Desktop SearchBar */
.DheaderBar{
    display: flex;
    $mobile:375px;
    @media screen and (min-width: $mobile) and (max-width: 900px){
        display: none;
    }
}
.Dsearch{
    width: 24px;
    height: 24px;
}
.Dfilter{
    width: 24px;
    height: 24px;
}