.bannerMain1{
    // min-width: 21.4375em;
    width: 20.4375rem;
    min-height: 14.5em;
    //height: 14.5em;
    background-color: #54A6FF;
    border-radius: 10px;
    margin-right: 100px;
    @media screen and (min-width:1600px) {
        height: 448px;
        // margin-right: 9%;
    }
}
.bannerMain2{
    min-width: 20.4375em;
    min-height: 14.5em;
    background-color: #54A6FF;
    border-radius: 10px;
    margin: 32px 24px 0 24px;
    display: none;
}
.car{
    padding: 36px 53px 4px 38px;
}
@media screen and (min-width:767px) {
    .wrap{
        display: flex;
        padding: 2em 4em 0 4em;
    }
    .bannerMain1{
        padding: 0;
        margin: 0;
        min-width: 40em;
        // width: 40em;
        width: 44.44%;
        min-height: 22.5em;
        // margin-right: 33px;
        margin-right: 2.3%;
    }
    .bannerMain2{
        padding: 0;
        margin: 0;
        min-width: 40em;
        width: 40em;
        min-height: 22.5em;
        display: block;
    }
    // .bannerMain1 > .car{
    //     margin-top: 10px;
    //     margin-left: 50px;
    // }
    .i{
        padding-left: 11.6875em;
        padding-bottom: 10px;
        width: 340px;
        height: 108px;
        @media screen and (min-width:767px) {
            width: 204px;
            height: 64px;
        }
    }
    .car{
        padding: 0;
        //padding:0 0 10px 137px;
        // width: 340px;
        // height: 108px;
    }
}