.parent {
  @media screen and (min-width: 240px) and (max-width: 767px) {
    display: none;
  }
  width: 25vw;
  height: auto;
  @media screen and (min-width: 767px) {
    display: block;
    width: 25vw;
    height: auto;
    padding: 2.222222vw 0 0 2.222222vw;
    background-color: white;
  }
}
.main {
  display: flex;
  width: 25vw;
  flex-direction: column;
  row-gap: 2.22222222vw;
  padding-top: 1.94444vw;
}
.form {
  display: flex;
}
.heading {
  color: #90a3bf;
  font-style: normal;
  font-weight: 600;
  font-size: 0.83333vw;
  letter-spacing: -0.02em;
  line-height: 125%;
}
.type {
  display: flex;
  color: #596780;
  font-style: normal;
  font-weight: 600;
  font-size: 1.38888vw;
  line-height: 150%;
}
.quantity {
  color: #90a3bf;
  font-style: normal;
  font-weight: 600;
  font-size: 1.388888vw;
  line-height: 150%;
}
.categories {
  display: flex;
}
.input {
  width: 1.666666vw;
  height: 1.66666vw;
  margin-right: 0.5555555vw;
  color: pink;
}
